.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.form-auth {
  background-color: var(--black-light-background);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  max-width: 700px;
  min-height: 400px;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 30%);
  padding: 30px 0;
}
.title-form {
  margin-bottom: 10px;
  font-size: 32px;
}
.actions {
  display: flex;
  width: 80%;
  justify-content: space-between;
  max-width: 400px;
}
.flex-end {
  justify-content: flex-end;
}
.remember {
  display: flex;
}
label:before {
  content: "";
  border: 3px solid var(--green);
  border-radius: 3px;
  height: 0.8em;
  width: 0.8em;
  margin-right: 5px;
}
input[type="checkbox"]:checked + label:before {
  background-color: var(--green);
  color: var(--green);
  border-color: #fff;
}
.actions a {
  color: var(--green);
}
.input-email,
.input-password,
.input-name {
  height: 50px;
  background-color: var(--gray-background);
  padding: 10px;
  margin: 10px 0;
  border-radius: 6px;
  width: 80%;
  max-width: 400px;
}
.button-auth {
  margin-top: 15px;
  background-color: var(--green);
  border-radius: 6px;
  cursor: pointer;
  height: auto;
  padding: 5px 10px;
  width: 80%;
  height: 50px;
  text-align: center;
  max-width: 400px;
  font-size: 24px;
}
.button-auth a {
  width: 100%;
}
